<div class="login-container text-c animated flipInX ">
    <div>
        <h1 class="logo-badge "><span class="fa fa-user-circle"></span></h1>
    </div>
    <h3 class="title text-whitesmoke">Finanzas Personales</h3>
    <p class="text-whitesmoke subtitle">Iniciar Sesión </p>
    <div class="container-content">
        <div class="margin-t">
            <div class="control">
                <input type="text" class="form-control input" id="txtUsuario" placeholder="Usuario" required="">
            </div>
            <br>
            <div class="control">
                <input type="password" class="form-control input" id="txtContra" placeholder="Contraseña" required="">
            </div>
            <br>
            <button type="button " class="form-button button button-l margin-b" (click)="IngresaClk()">Iniciar
                Sesión</button>

            <a class="text-darkyellow" href="#"><small>Olvidaste la contraseña?</small></a>
            <p class="text-whitesmoke text-center"><small>No tienes una cuenta?</small></p>
            <a class="text-darkyellow" routerLink="/register"><small>Registrarse</small></a>
        </div>
        <p class="margin-t text-whitesmoke"><small> Finanzas Personales &copy; 2021</small> </p>
    </div>
</div>