

    
    <div class="login-container text-c animated flipInX " >
        <div>
            <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
        </div>
        <h3 class="text-whitesmoke title">Finanzas Personales</h3>
        <p class="text-whitesmoke subtitle">Crearse una cuenta</p>
        <div class="container-content">
            <div class="margin-t">
                <div class="control">
                    <input type="text" class="form-control input" id="txtNombre" placeholder="Nombre" required="">
                </div>
                <br>
                <div class="control">
                    <input type="text" class="form-control input" id="txtApellido" placeholder="Apellido" required="">
                </div>
                <br>
                <div class="control">
                    <input type="text" class="form-control input" id="txtUsuario" placeholder="Usuario" required="">
                </div>
                <br>
                <div class="control">
                    <input type="password" class="form-control input" id="txtContra" placeholder="Contraseña" required="">
                </div>
                <br>
             
                <button type="button" class="form-button button button-l margin-b" (click)="create()" >Registrarse</button>
                
           
            <p class="text-whitesmoke text-center"><small>Ya tienes una cuenta?</small></p>
            <a class="text-darkyellow" routerLink="/login" ><small>Iniciar  Sesión</small></a>
            </div>
        <p class="margin-t text-whitesmoke"><small> Fianzas Personales &copy; 2021</small> </p>
    </div>
</div>

