
<div class="container ">

    <div class="card ">

        <div class="mb-3 row">
            <label for="txtIngresos" class="col-sm-2 col-form-label">Total Ingresos</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="txtIngresos" value="{{serTrans.ingresos.toFixed(2)|currency:'USD'}}"
                    disabled>
            </div>
            <label for="txtAhorro" class="col-sm-2 col-form-label">Ahorro</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="txtAhorro" value="{{serTrans.ahorro.toFixed(2)|currency:'USD'}}"
                    [ngClass]="serTrans.ahorro>0?'ahorroPositivo':'ahorroNegativo'" disabled>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="txtEgresos" class="col-sm-2 col-form-label">Total Egresos</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="txtEgresos" value=" {{serTrans.egresos.toFixed(2)| currency:'USD'}}"
                    disabled>
            </div>
        </div>
        <div class="btn-group" role="group" >

            <button type="button" class="btn btn-primary" routerLink="new">Nuevo</button>

        </div>
    </div>
</div>


