html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.main-bg {

    background: #444444;
    background: linear-gradient( #5c5c5c, #635c5c);
}
.container{
    margin-top: 20px;
}
.card{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}