<div class="container">
    <div class="card">

        <form action="">
        <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Tipo de Transacción</label>
            <div class="col-sm-10">

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="Ingreso">
                    <label class="form-check-label" for="inlineRadio1">Ingreso</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="Egreso">
                    <label class="form-check-label" for="inlineRadio2">Egreso</label>
                </div>
            </div>

        </div>

        <div class="mb-3 row">
            <label for="txtNombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtNombre" required autocomplete="off">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="txtMonto" class="col-sm-2 col-form-label">Monto</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="txtMonto" required autocomplete="off">
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Basic example">

            <button type="button" class="btn btn-primary" (click)="create()" >Agregar</button>

        </div>

    </form>

    </div>

</div>